.site-header .navbar-brand img {
    max-width: 9rem;
}


/* .banner-tokensale .countdown-box {
    position: relative;
} */

.theme-muscari .countdown-box .btn {
    font-size: 14px;
    padding: 9px 20px
}


/* @media only screen and (max-width: 1024px) {
    .theme-muscari .banner-tokensale .countdown-box {
        left: initial;
        transform: initial
    }
} */

.our-partner .wpb_wrapper {
    margin-top: 5rem;
}

.navbar .slanguage {
    margin-left: auto;
    margin-right: 1rem;
}

.partner {
    margin-top: 5rem;
}

@media (min-width: 992px) {
    .site-header .navbar-brand img {
        max-width: 14rem
    }
}

.theme-muscari .navbar-toggler {
    background: #3455ff
}